Button {
    background-color: rgb(32, 32, 32);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-left-color: rgb(19, 19, 19);
    border-right-color: rgb(19, 19, 19);
    border-top-color: rgb(19, 19, 19);
    border-bottom-color: rgb(19, 19, 19);
}

Button:hover {
    background-color: rgb(91, 91, 91);
}
